

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v20-cyrillic_latin-regular.woff2") format("woff2"), 
       url("fonts/roboto-v20-cyrillic_latin-regular.woff") format("woff");     
}
@font-face {
  font-family: "Roboto-700";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v20-cyrillic_latin-700.woff2") format("woff2"), 
       url("fonts/roboto-v20-cyrillic_latin-700.woff") format("woff");    
}
@font-face {
  font-family: "Roboto-Black";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/robotoblack.woff2") format("woff2"), 
       url("fonts/robotoblack.woff") format("woff");
   }
html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: Roboto;
	background-color: #f9f9f9;	
}
.flex-container {
	width: 100%;
	display: flex;		
}
.fixed-container {
	width: 1170px;
	margin: 0 auto;
}
.header .fixed-container {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
.header li {
	list-style: none;
	display: inline-block;
	color: black;
	padding-right: 30px;
	font-size: 16px;
}	
ul { 
	padding: 0;
	margin: 0;
}
nav {
	display: flex;
	align-items: center;
}
.header a {
    color: black;
}
a {
	text-decoration: none;
	transition: ease 0.3s;
}
button {
	outline: none;
	cursor: pointer;
	transition: ease 0.3s;
}
.header a:hover {
	color: rgb(236, 92, 62);
	border-bottom: solid 1px;
	transition-duration: 0.3s;
}
.header__call {
	font-size: 25px;
	font-family: Roboto-700;	
}
.header__call button {
	margin-left: 20px;
	border: solid 1px rgb(228, 62, 113);
	padding: 12px 40px;
	color: rgb(236, 92, 62);
	background-color: #f9f9f9;
	font-size: 16px;	
}
.header__call button:hover {
	background: #ff4e2e;
	color: white;
	transition-duration: 0.3s;
}
.front-container {
	width: 100%;
	min-height: 695px;
	position: relative;
}
.front-container .flex-container {
	display: flex;
	justify-content: space-between;
}
.front-container__main-info{
     margin-top: 18.5%;
}
.front-container__name h1{
	font-size: 77px;
	font-family: Roboto-700;
	margin: 0;
}
.front-container__description {
	color: rgb(138, 146, 170);
	padding-top: 17px;
	font-size: 25px;	
}
.front-container button {
	margin-top: 44px;
	padding: 19.5px 72.5px;
	color: white;
	background-color: #ff4e2e;
    border: rgb(235, 51, 0);
    font-size: 18px;
    z-index: 20;
}
.front-container__graphics {
	position: absolute;
	width: 855px;
	height: 630px;
	right: 0;
	bottom: 0;
}
.front-container__graphics img{
	position: absolute;
	bottom: 0;
	right: 33.5%;
	width: 444px;
}
svg {
	object-fit: cover;
	display: block;
	width: 100%;
	height: 100%;
}
.front-container__element1 {
	bottom: 45%;
	left: 30%;
	transform: rotate(27deg);	
	font-size: 48px;
	transform-origin: 353px -1033px;

}
.front-container__element2 {
	bottom: 45%;
	left: 20%;
	transform: rotate(15deg);
	font-size: 54px;
	transform-origin: 60px -510px;
}
.front-container__element3{
	quotes: "<" ">";
	bottom: 55%;
	left: 35%;
	transform: rotate(-15deg);
	font-size: 29px;
	transform-origin: -620px -520px;	
}	
.front-container__element3::before{
	content: open-quote;
}
.front-container__element3::after{
	content: close-quote;
}
.front-container__element4{
	quotes: "<" ">";
	bottom: 40%;
	left: 35%;
	transform: rotate(20deg);
	font-size: 37px;
	font-family: Roboto-700;
	transform-origin: -80px 860px;
}
.front-container__element4::before{
	content: open-quote;
}
.front-container__element4::after{
	content: close-quote;
}
.front-container__element5 {
	quotes: "<" ">";
	bottom: 30%;
	left: 25%;
	transform: rotate(-23deg);
	font-size: 39px;
	transform-origin: 355px 355px;
}
.front-container__element5::before{
	content: open-quote;
}
.front-container__element5::after{
	content: close-quote;
}
.front-container span {
	background: linear-gradient(to right bottom, #f81d77 30% , #f36128 100% );
	-webkit-background-clip: text;
	color: transparent;
	font-weight: bold;
	position: absolute;
	transition: 1s;
}
.projects-container {
	width: 100%;
	min-height: 444px;
	background-color: white;
}
.projects-container__heading, .projects-examples__heading{
	font-size: 37px;
	font-family: ROboto-700;
	padding: 40px 0;
	display: flex;
	justify-content: center;
}
.projects-container__navigation ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.projects-container__navigation a:hover {
	color: rgb(236, 92, 62);
	transition-duration: 0.3s;
}
.projects-container__navigation li{
	text-align: center;
	width: 320px;	
	margin: 0 10px;
}
.projects-container__navigation a{
	text-decoration: none;
	color: #98A0B7;
}
.projects-container__navigation h3 {
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	margin-top: 12px;
	margin-bottom: 0;
}
.projects-container__button button, .projects-examples__button button, .hidden-container__main-info button {
	width: 270px;
	height: 60px;
	color: white;
	background-color: #ff4e2e;
    border: rgb(235, 51, 0);
    font-size: 18px;
}
.front-container button:hover, .projects-container__button button:hover,
 .projects-examples__button button:hover, .hidden-container__main-info button:hover {
	border: solid 1px rgb(228, 62, 113);
	color: rgb(236, 92, 62);
	background-color: #f9f9f9;
	transition-duration: 0.3s;
}
.hidden-container__main-info button {
	margin-top: 40px;
}
.projects-container__button, .projects-examples__button  {
	display: flex;
	justify-content: center;
	padding-top: 92px;
	padding-bottom: 104px;
}
.fa-chevron-right {
 	font-size: 30px;
 	color: #98A0B7;
}
.price-list-container {
	width:100%;
	background: linear-gradient( to right top, #ff8f5a 30% , #ff2f96 70%);
	position: relative;
}
.price-list-container span{
	position: absolute;
	color: white;
	font-weight: bold;
	transition: 1s;
}
.price-list-container__element1 {
	bottom: 50%;
	left: 30%;
	transform: rotate(30deg);	
	font-size: 48px;
	transform-origin: -85px -840px;
}
.price-list-container__element2 {
	bottom: 20%;
	left: 30%;
	transform: rotate(15deg);	
	font-size: 52px;
	transform-origin: -230px -1220px;	
}
.price-list-container__element3 {
	quotes: "<" ">";
	font-family: Roboto-700;
	bottom: 45%;
	right: 30%;
	transform: rotate(22deg);	
	font-size: 37px;
	transform-origin: -250px 520px;	
}
.price-list-container__element3::before {
	content: open-quote;
}
.price-list-container__element3::after {
	content: close-quote;
}
.price-list-container__element4 {
    bottom: 45%;
	right: 30%;
	transform: rotate(-20deg);	
	font-size: 49.5px;
	transform-origin: 580px -1250px;		
}
.price-list-container__element5 {
	quotes: "<" ">";
	font-family: Roboto-700;
	bottom: 45%;
	right: 30%;
	transform: rotate(-23deg);	
	font-size: 40px;
	transform-origin: 20px -920px;		
}
.price-list-container__element5::before {
	content: open-quote;
}
.price-list-container__element5::after {
	content: close-quote;
}
.price-list-container__text h2{
	font-size: 45px;
	font-family: Roboto-700;
	color: white;		
	margin: 0;
}
.price-list-container__text {
    margin-top: 75px;
    margin-bottom: 80px;
    line-height: 60px;
}
.price-list-container .fixed-container{
	display: flex;
	justify-content: center;	
}
.price-list-container__small-text {
	font-size: 18px;
	color: #fff1ee;
	line-height: 30px;
	margin-top: 28px;	
}
.footer-container .fixed-container{
	padding-top: 77px;
	padding-bottom: 60px;
	display: flex;
	justify-content: space-between;
}
.footer-container a{
	color: #98A0B7;
}
.footer-container a:hover {
	color: rgb(236, 92, 62);
	transition-duration: 0.3s;
}
.footer-container ul{
	margin: 0;
	font-size: 18px;
	padding-bottom: 20px;
	list-style: none;
	line-height: 32px;
}
.footer-container__contacts {
	font-size: 23px;
	font-weight: bold;
	line-height: 40px;
}
.footer-container__contacts a{
    color: black;
}
.footer-container__email{
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer-container__social ul {	
	margin: 0;
	padding-top: 30px;
}
.footer-container__social li  {
	list-style: none; 
	display: inline-block;	
}
.footer-container__social li a{
	background: url(images/Sprites.jpeg) no-repeat;
	background-size: 290px;
	padding: 10px 20px;
	margin-right: 15px;
	border-radius: 30px;
	cursor: pointer;
}
.footer-container__social button {
	border: solid 1px rgb(228, 62, 113);
	padding: 12px 60px;
	color: rgb(236, 92, 62);
	background-color: #f9f9f9;
	font-size: 16px;
}
.footer-container__social button:hover {
	background: #ff4e2e;
	color: white;
	transition-duration: 0.3s;
}
li.footer-container__fb a{
	background-position: -2px -42px;	
}
li.footer-container__inst a{
	background-position: -125px -42px;
}
li.footer-container__tw a{
	background-position: -42px -41px;	
}
li.footer-container__go a{
	background-position: -250px -42px;	
}
.footer-container.fa-envelope, .footer-container.fa-phone {
	font-size: 20px;
	padding-right: 10px;	
}
.fa-phone, .fa-envelope {
	background: linear-gradient( #ff8f5a 30% ,#ff2f96 70% );
	-webkit-background-clip: text;
	color: transparent;
	display: inline-block;
	vertical-align: middle;
}
.footer-container__cellar {
	padding: 25px 0;
	background-color: #31293C;
	color: #CAC9CC;
	font-size: 16px;
	justify-content: center;
}
.header__hidden-menu {
	background-color: #f9f9f9;
	padding: 0;
	border: none;
}
.header__hidden-menu-container {
	display: none;
	margin-top: 20px;
}
.header__hidden-menu-container nav {
	display: flex;
	justify-content: space-between;
}
.header__hidden-menu-container ul{
    display: flex;
	justify-content: space-between;
	list-style: none;
	font-size: 13px;
	width: 280px;
}
.header__hidden-menu-container a:hover {
	color: rgb(236, 92, 62);
	border-bottom: solid 1px;
	transition-duration: 0.3s;	
}
.header__hidden-menu-container a {
	color: black;
}
.hidden-container__main-info {
    text-align: center;
}
.header__hidden-button {
    border: solid 1px rgb(228, 62, 113);
    border-radius: 50%;
    background-color: #f9f9f9;
    font-size: 12px;
    width: 26px;
    height: 26px;
	display: flex;
	justify-content: center; 
	align-items: center;
	cursor: pointer;
}
.header__hidden-button:hover{
	font-size: 14px;
	transition-duration: 0.3s;	
}
.hidden-pop-up-call-container, .hidden-pop-up-pricelist-container, .hidden-pop-up-know-more-container {
	width: 100%;
	height: 100%;
	display: none;	
}
.hidden-pop-up-fixer {
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10; 
}
.hidden-pop-up-call {
	background-color: white;
	opacity: 0.9;
	box-shadow: 0 0 10px 10px lightgrey;
	width: 500px;
	height: 200px;	
	display: flex;
	justify-content: center;
	align-items: center;
}
.hidden-pop-up-call-text {
	margin: 0 30px;
}
.hidden-pop-up-call h4 {
	margin: 0;
}
.hidden-pop-up-call input {
	display: block;
	font-size: 16px;
	margin: 20px 0;
	width: 180px;
	height: 30px;
	border: 1px solid lightgrey;
	outline-style: none;
}
.hidden-pop-up-call button {
	border: solid 1px rgb(228, 62, 113);
	width: 150px;
	height: 30px;
	color: rgb(236, 92, 62);
	background-color: white;
	font-size: 16px;
}
.hidden-pop-up-call-text button:hover {
	background: #ff4e2e;
	color: white;
	transition-duration: 0.3s;
}
.hidden-pop-up-pricelist, .hidden-pop-up-know-more {
	width: 700px;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
	box-sizing: border-box;
	background: linear-gradient( to right top, #ff8f5a 30% , #ff2f96 70%);
	color: white;
}
.hidden-pop-up-know-more h4,.hidden-pop-up-pricelist h4 {
	font-size: 22px;
	margin: 0 20px;
}
.hidden-pop-up-know-more h2, .hidden-pop-up-pricelist h2 {
	font-size: 28px;
	margin: 10px 20px;
}
.hidden-pop-up-know-more ul,.hidden-pop-up-pricelist ul {
	list-style: none;
	margin: 0;
}
.hidden-pop-up-know-more li,.hidden-pop-up-pricelist li {
	margin: 25px 0;
}
.fa-bars {
	font-size: 40px;
	background: linear-gradient( #ff8f5a 30% ,#ff2f96 70% );
	-webkit-background-clip: text;
	color: transparent;
	display: inline-block;
	vertical-align: middle;
}
.fa-bars:hover {
	color: #ff2f96;
	transition-duration: 0.3s;
}
.swiper-button-prev, .swiper-button-next {
	background-color: white;
	width: 60px;
	height: 60px;
	border-radius: 35px;
	color: grey;
	outline-style: none;
	box-shadow: 0 0 15px 5px lightgrey;	
}
.swiper-button-prev{
	left: -25px;
	top: 40%;	
}
.swiper-button-next  {
	right: -22px;
	top: 40%;
}
.projects-examples__images-container {
	position: relative;
}
.swiper-container {
	  width: 100%;
      height: 100%;
}
.swiper-slide {
	text-align: center;
}
.swiper-slide h3{
    font-weight: normal;
	font-size: 18px;
	color: #98A0B7;
	padding-top: 15px;
}
.swiper-slide h3:hover {
    color: rgb(236, 92, 62);
	transition-duration: 0.3s;
}

@media screen and (max-width: 1850px){
	.front-container__element4 {
    	transform-origin: 0 520px;
     }    
    .front-container__element1 {
    	transform-origin: 400px -800px;
    }
    .front-container__element2{
    	transform-origin: -960px -405px;
    }
     .front-container__element5 {
    	transform-origin: 250px -200px;
    }
    .price-list-container__element1 {
    	transform-origin: -85px -500px;
    }
    .price-list-container__element4 {
    	transform-origin: 450px -800px;	
    }
}

@media screen and (max-width: 1600px){
	.front-container__graphics {
    	left: 50%;
     }    
}

@media screen and (max-width: 1200px){
	.front-container__graphics {
    	left: 36%;
    	height: 75%;
    }  
    .fixed-container {
    	width: 945px;
    }
    .front-container__name h1{
    	font-size: 60px;
    }
    .front-container__graphics img {
    	left: 21%;
    }
    .front-container__main-info {
    	margin-top: 25%;
    }
    .front-container button {
    	width: 320px;
    	height: 68px;
    }
    .header nav {
    	display: none;
    }
    .front-container__element1 {
    	transform-origin: 420px -570px;
    }
    .front-container__element2{
    	transform-origin: -960px -405px;
    }
    .front-container__element3 {
    	transform-origin: -470px -2100px;
    }
    .front-container__element4 {
    	transform-origin: 20px 1520px;
    }
    .front-container__element5 {
    	transform-origin: 250px -200px;
    }
    .front-container__element6 {
    	quotes: "<" ">";
		bottom: 55%;
		left: 35%;
		transform: rotate(12deg);
		font-size: 45px;
		transform-origin: 550px 270px;	
    }
    .front-container__element6:before{
    	content: open-quote;
    }
    .front-container__element6:after{
    	content: close-quote;
    }
    .projects-container__navigation ul {
    	display: flex;
    	flex-wrap: wrap;
    	padding: 0 110px;
    }
    .projects-container__navigation li {
    	padding-bottom: 80px;
    }
    .projects-container__button {
    	padding-top: 10px;
    }
    .projects-container__button button, .projects-examples__button button{
    	width: 320px;
    	height: 70px;
    }
    .swiper-button-prev, .swiper-button-next {
    	display: none;
    }
    .projects-examples__button {
    	padding-top: 0;
    	margin-top: 50px;
    } 
    .price-list-container__element2, .price-list-container__element4{
    	display: none;
    }
    .price-list-container__element1 {
    	transform-origin: 169px -325px;
    	font-size: 32px;
    }
    .price-list-container__element3 {
    	transform-origin: -420px -327px;
    	transform: rotate(20deg);
    	font-size: 25px;
    }
    .price-list-container__element5 {
   	 	bottom: 45%;
		right: 30%;
		transform: rotate(-23deg);	
		font-size: 40px;
		transform-origin: 460px -435px;
    }	
    .footer-container .fixed-container{
    	padding-top: 100px;
    }
    .swiper-slide img{
        width: 450px;
        height: 375px;
    }
    .swiper-slide h3{
    	font-size: 25px;
    	margin: 0;
    	padding-top: 10px;
    }
    .swiper-pagination {
		width: 115px;
		display: flex;
		justify-content: space-between;
	}
	.swiper-pagination-bullet {
    	width: 17px;
    	height: 17px;
    	background-color: #ff4e2e;
	}
	.swiper-pagination-container{
   	 	display: flex;
		justify-content: center;
		padding-top: 100px;
		padding-bottom: 70px;
	}
}

@media screen and (min-width: 1201px){
	.header__hidden-menu {
		display: none;
	}
	.front-container__element6 {
	display: none;
    }
    .swiper-pagination {
    	display: none;
    }
}  

@media screen and (max-width: 992px){
    .fixed-container {
    	width: 720px;
    }
    .front-container__name h1{
    	font-size: 44px;
    }
    .front-container__description {
    	font-size: 18px;
    }
    .front-container__graphics img {
    	left: 12%;
    	width: 47%; 	
    }
    .front-container__element1 {
    	transform-origin: 420px -400px;
    }
    .front-container__element2{
    	transform-origin: -960px -305px;
    }
    .front-container__element3 {
    	display: none;
    }
    .front-container__element4 {
    	transform-origin: 20px 1000px;
    }
    .front-container__element6 {
		transform-origin: 750px 270px;	
    }
    .projects-container__navigation ul {
    	padding: 0;
    }
    .price-list-container__text h2 {
    	font-size: 30px;
    }
    .price-list-container__small-text {
    	font-size: 15px;
    } 
  }

@media screen and (max-width: 768px){
	.fixed-container {
    	width: 540px;
    }
    .front-container__main-info{
    	display: none;	
    }
    .hidden-container__main-info {
    	padding-top: 15px;
    	padding-bottom: 60px;
    }
    .front-container__description {
    	font-size: 20px;
    }
    .front-container__graphics img {
    	width: 47%;
    	left: 20%;	
    }
    .front-container__graphics {
    	left: 0;
    }
    .front-container__name h1{
    	font-size: 50px;
    }
    .front-container__element6 {
		transform-origin: 1000px 250px;	
    }
    .front-container__element4 {
    	transform-origin: 20px 800px;
    }
    .front-container__element2{
    	transform-origin: -960px -200px;
    }
    .projects-container__navigation ul {
    	display: flex;
    	justify-content: center;
    }
    .projects-container__navigation li {
    	padding-bottom: 40px;
    }
    .projects-container__heading, .projects-examples__heading {
     	padding: 20px 0;
    }
    .projects-container__heading h2, .projects-examples__heading h2{
    	font-size: 35px;
    }
    .projects-container__button, .projects-examples__button {
    	padding: 20px 0;
    }
    .projects-examples {
    	padding-top: 55px;
    	padding-bottom: 32px;
    }
    .price-list-container__element1 {
    	transform-origin: 169px -400px;
    }
    .price-list-container__element3 {
    	transform-origin: -550px -327px;
    }
    .footer-container .fixed-container {
    	flex-wrap: wrap;
    	padding: 30px 0;
    }
    .footer-container__social {
    	margin-top: 30px;
    	margin-right: 40px;
    }
    .footer-container li, .footer-container__contacts {
    	font-size: 17px;
    }
    .hidden-pop-up-pricelist, .hidden-pop-up-know-more {
    	width: 450px;
        box-sizing: border-box;
    }
     .hidden-pop-up-pricelist, .hidden-pop-up-know-more h2 {
        font-size: 25px;
    }
      .hidden-pop-up-pricelist, .hidden-pop-up-know-more h4 {
      	font-size: 20px;
    }
    .price-list-container__element5 {
		transform-origin: 460px -200px;
    }	
    .price-list-container__element1 {
    	transform-origin: 270px -330px;
    }
}

@media screen and (min-width: 769px) {
	.hidden-container__main-info {
		display: none;
	}
	.header__hidden-menu-container ul {
    	font-size: 16px;
    }
}

@media screen and (max-width: 576px){
	.fixed-container {
    	width: 280px;
    	}
	.header .fixed-container {
		margin-top: 25px;
		margin-bottom: 50px;
	}
    .front-container {
    	min-height: 365px;
    }
    .front-container__graphics img {
    	width: 27%;
    	left: 35%;	
    }
    .front-container__graphics{
    	left: -18%;	
    	height: 90%;
    }
    .front-container__name h1{
    	font-size: 30px;
    }
    .header__call{
    	font-size: 18px;
    	display: flex;
    	align-items: center;
    }
    .header__call button {
    	display: none;
    }
    .fa-bars {
    	font-size: 25px;
    }
    .front-container__element6 {
    	transform-origin: -215px -170px;	
        font-size: 17px;
        transform: rotate(-35deg);
        font-weight: bold;
    }
    .front-container__element1 {
    	transform-origin: 335px -170px;
    	font-size: 25px;
    	transform: rotate(28deg);
    }
    .front-container__element2{
    	transform-origin: 240px -125px;
    	font-size: 28px;
    }
    .front-container__element4 {
    	transform-origin: 500px 230px;
    	font-size: 15px;
    	transform: rotate(25deg);
    }
    .front-container__element5 {
    	display: none;
    }
    .front-container__description {
    	font-size: 16px;
    	padding-top: 5px;
    	line-height: 25px;
    }
    .hidden-container__main-info {
    	padding-bottom: 20px;
    }
    .projects-container__heading h2, .projects-examples__heading h2 {
    	font-size: 30px;
    	margin: 0;
    }
    .projects-container__heading{
    	padding: 23px 0 18px 0;
    }
    .projects-examples__heading  {
    	display: flex;
    	text-align: center;
    	padding: 20px 0 35px 0;
    }
    .projects-container__navigation h3 {
    	font-size: 16px;
    	margin: 5px 0;
    	line-height: 25px;
    }
    .projects-container__navigation img {
    	width: 62px;
    }
    .projects-container__navigation li {
    	padding: 24px 0;
    }
    .projects-container__button button, .footer-container__social button, .projects-examples__button button, .hidden-container__main-info button{
    	font-size: 16px;
    	height: 55px;
    	width: 280px;
    }
    .projects-examples__button  {
    	margin: 0;
    }
    .hidden-container__main-info button {
    	margin-top: 23px;
    }
    .price-list-container h2{
    	font-size: 27px;
    	line-height: 40px;	
    }
    .price-list-container__text {
    	margin-top: 38px;
    	margin-bottom: 47px;
    }
    .price-list-container__elements {
    	display: none;
    }
    .footer-container__contacts {
    	margin-right: 40px;
    }
    .footer-container .fixed-container {
    	padding-top: 40px;
    }
    .footer-container nav a {
    	font-size: 15px;
    }
    .footer-container__contacts {
    	font-size: 19px;
    	padding-top: 8px;
    	color: #98A0B7;
    }
    .footer-container__email {
    	padding-top: 5px;
    	padding-bottom: 18px;
    }
    .footer-container__social {
    	margin: 0;
    }
    .footer-container__social li{
    	padding-top: 17px;
    }
    .footer-container__cellar {
    	font-size: 12px;
    }
    .hidden-pop-up-call {
    	width: 280px;
    	height: 180px;	
    }
     .hidden-pop-up-call h4 {
     	font-size: 12px;
    }
     .hidden-pop-up-call button {
     	font-size: 12px;
    }
     .hidden-pop-up-pricelist, .hidden-pop-up-know-more {
       width: 280px;
       box-sizing: border-box;
    }
    .hidden-pop-up-pricelist h4, .hidden-pop-up-know-more h4{
    	font-size: 16px;
    }
     .swiper-slide img {
     	width: 280px;
     	height: 255px;
     	object-fit: cover;
    }
     .swiper-slide h3{
     	padding-top: 15px;
     	font-size: 18px;
    }
     .swiper-pagination {
		width: 62px;
		display: flex;
		justify-content: space-between;
	}
	.swiper-pagination-bullet {
    	width: 10px;
    	height: 10px;
    	background-color: #ff4e2e;
	}
	.swiper-pagination-container{
   	 	display: flex;
		justify-content: center;
		padding-top: 25px;
		padding-bottom: 37px;
	}
	.projects-examples__button button{
		margin: 0;
		padding: 0;
	}	
}

@media screen and (min-width: 577px){
	.header__hidden-button {
		display: none;
    }
}

@media screen and (max-width: 460px) {
    .front-container__graphics img {
    	width: 27%;
    	left: 35%;	
    }
    .front-container__graphics{
    	left: -40%;	
    	height: 90%;
    }
}

@media screen and (max-width: 390px) {
    .front-container__graphics img {
    	width: 27%;
    	left: 43%;	
    }
    .front-container__graphics{
    	left: -70%;	
    	height: 80%;
    }   
}

@media screen and (max-width: 356px) {
    .front-container__graphics{
    	left: -80%;	
    	height: 80%;
    }
}

@media screen and (max-width: 340px) {
    .front-container__graphics{
    	left: -90%;	
    	height: 80%;
    }
}

 
